<p>Correct! The thymus has a thin capsule that extends CT septa into the parenchyma separating the cortex and medulla into incomplete lobules. <span class="bold">Can you label the following thymus slide?</span></p>

<figure>
  <img ng-src="{{SITE.baseUrl}}/assets/img/MM-Pg-2.png" class="img-responsive" alt="thymus">
</figure>

<div class="row clearfix">
  <div class="list-item col-sm-3">
    <label>
      A.) <mboa-input type="input" feedback="hint" answer="7" hint="5" ng-model="userAnswerA"></mboa-input>
    </label>
  </div>
  <div class="list-item col-sm-3">
    <label>
      B.) <mboa-input type="input" feedback="hint" answer="8" hint="6" ng-model="userAnswerB"></mboa-input>
    </label>
  </div>
  <div class="list-item col-sm-3">
    <label>
      C.) <mboa-input type="input" feedback="hint" answer="9" hint="7" ng-model="userAnswerC"></mboa-input>
    </label>
  </div>
  <div class="list-item col-sm-3">
    <label>
      D.) <mboa-input type="input" feedback="hint" answer="10" hint="8" ng-model="userAnswerD"></mboa-input>
    </label>
  </div>
</div>

<p class="bold margin-top-lg">The thymus is considered a ________________ lymphoid organ.</p>
<div class="row clearfix">
  <div class="list-item col-sm-4">
    <a ui-sref="histoCase.pageType.page({pageType: 'ans', pageId: 'primary'})" class="btn btn-default">Primary</a>
  </div>
  <div class="list-item col-sm-4">
    <a ui-sref="histoCase.pageType.page({pageType: 'ans', pageId: 'secondary'})" class="btn btn-default">Secondary</a>
  </div>
  <div class="list-item col-sm-4">
    <a ui-sref="histoCase.pageType.page({pageType: 'ans', pageId: 'tertiary'})" class="btn btn-default">Tertiary</a>
  </div>
</div>