<p>Correct! The thymus has a thin capsule that extends CT septa into the parenchyma separating the cortex and medulla into incomplete lobules. <span class="bold">Can you label the following thymus slide?</span></p>

<figure>
  <img ng-src="{{SITE.baseUrl}}/assets/img/MM-Pg-2.png" class="img-responsive" alt="thymus">
</figure>

<div class="row clearfix">
  <div class="list-item col-sm-3">
    <label>A.) </label>
    <mboa-input type="input" feedback="hint" answer="7" hint="5" ng-model="userAnswer"></mboa-input>
  </div>
  <div class="list-item col-sm-3">
    <label>B.) </label>
    <mboa-input type="input" feedback="hint" answer="8" hint="6" ng-model="userAnswer"></mboa-input>
  </div>
  <div class="list-item col-sm-3">
    <label>C.) </label>
    <mboa-input type="input" feedback="hint" answer="9" hint="7" ng-model="userAnswer"></mboa-input>
  </div>
  <div class="list-item col-sm-3">
    <label>D.) </label>
    <mboa-input type="input" feedback="hint" answer="10" hint="8" ng-model="userAnswer"></mboa-input>
  </div>
</div>

<p class="bold margin-top-lg">The thymus is considered a ________________ lymphoid organ.</p>
<div class="row clearfix">
  <div class="list-item col-sm-4">
    <a ui-sref="histoCase.pageType.page({pageType: 'ans', pageId: 'primary'})" class="btn btn-default">Primary</a>
  </div>
  <div class="list-item col-sm-4">
    <a ui-sref="histoCase.pageType.page({pageType: 'ans', pageId: 'secondary'})" class="btn btn-default">Secondary</a>
  </div>
  <div class="list-item col-sm-4">
    <a ui-sref="histoCase.pageType.page({pageType: 'ans', pageId: 'tertiary'})" class="btn btn-default">Tertiary</a>
  </div>
</div>