<div class="img-split row clearfix">
  <div class="list-item col-sm-6">
    <p>Awesome! Those lymphocytes that recognize MHC pass the positive selection test in the cortex and move onto the negative selection (clonal deletion) test in the medulla.</p>
    <p class="bold">What is negative selection?</p>
    <label><mboa-input type="textarea" ng-model="ignore"></mboa-input></label>
  </div>
  <div class="list-item col-sm-6">
    <figure>
      <img class="img-responsive" ng-src="{{SITE.baseUrl}}/assets/img/mm-negative-selection.png">
      <figcaption>Source: <a target="_blank" href="//accessiblebiosci.blogspot.com/2013/08/negative-selectivi-t-dzhagalov-et-al.html">http://accessiblebiosci.blogspot.com/2013/08/negative-selectivi-t-dzhagalov-et-al.html</a></figcaption>
    </figure>
  </div>
</div>

<h3>Histo Scavenger Hunt!</h3>
<p>Take a snapshot of a thymic (Hassall’s) corpuscle in the medulla, from <a target="_blank" href="//medsci.indiana.edu/junqueira/virtual/msci_76_5.html">Slide 76: Thymus, H&amp;E.</a></p>


<p class="margin-top-lg">Normally the thymus involutes with age.</p>
<p class="bold">Compare <a target="_blank" href="//medsci.indiana.edu/histo/virtual/msci_123.html">Slide 123 Thymus, H&amp;E</a> and <a target="_blank" href="http://medsci.indiana.edu/histo/virtual/msci_126.html">Slide 126 Thymus, H&amp;E</a>, then describe what occurs during involution of an organ.</p>
<div class="margin">
  <mboa-input type="alert" ng-model="ignore"></mboa-input>
</div>
<div class="row margin clearfix">
  <div class="list-item col-sm-6">
    <img ng-src="{{SITE.baseUrl}}/assets/img/MM-Pg6-Slide123.png">
  </div>
  <div class="list-item col-sm-6">
    <img ng-src="{{SITE.baseUrl}}/assets/img/MM-Pg6-Slide126.png">
  </div>
</div>

<p class="back-link">The results from a blood test that you ordered are in. <a ui-sref="histoCase.pageType.page({pageType: 'pg', pageId: '7'})">Go check-in with your patient.</a></p>