<p>Although lymphatic follicles are present, notice the lack of a distinct capsule and the specific tissue in the upper right corner of the slide.</p>

<p class="bold">What is this specific tissue?</p>
<label><mboa-input type="input" feedback="hint" answer="22" hint="25" ng-model="userAnswer"></mboa-input></label>

<figure>
	<img ng-src="{{SITE.baseUrl}}/assets/img/NER-Strat-Squamous.png" class="img-responsive">
</figure>

<p>This indicates that the section was taken from the palatine tonsil in the back of the oral cavity. The tonsils have the same general organization of other mucosa-associated lymphoid tissue (MALT) in which mainly B-lymphocytes aggregate into lymphoid follicles.</p>

<a class="back-link" ui-sref="histoCase.pageType.page({pageType: 'pg', pageId: '1'})">Return to slides</a>