<p>Lymph nodes have a capsule extending trabeculae into the parenchyma that is densely packed with lymphocytes. Lymph nodes also have morphologically distinct regions, however notice the lack of a paracortex, medullary cords, medullary sinuses, and lymphoid follicles in the patient’s slide that are seen in lymph nodes.

<span class="bold">Can you label the following lymph node slide?</span></p>

<figure>
  <img ng-src="{{SITE.baseUrl}}/assets/img/MM-LymphNode-Image_ER-Palatine-Tonsil.png" class="img-responsive" alt="lymph node">
</figure>

<div class="row">
  <div class="list-item col-sm-4 col-lg-2 col-lg-offset-1">
    <label>
      A.) <mboa-input type="input" feedback="hint" answer="1" hint="0" ng-model="userAnswerA"></mboa-input>
    </label>
  </div>
  <div class="list-item col-sm-4 col-lg-2">
    <label>
      B.) <mboa-input type="input" feedback="hint" answer="2" hint="1" ng-model="userAnswerB"></mboa-input>
    </label>
  </div>
  <div class="list-item col-sm-4 col-lg-2">
    <label>
      C.) <mboa-input type="input" feedback="hint" answer="3" hint="2" ng-model="userAnswerC"></mboa-input>
    </label>
  </div>
  <div class="list-item col-sm-4 col-sm-offset-2 col-lg-offset-0 col-lg-2">
    <label>
      D.) <mboa-input type="input" feedback="hint" answer="4" hint="3" ng-model="userAnswerD"></mboa-input>
    </label>
  </div>
  <div class="list-item col-sm-4 col-lg-2">
    <label>
      E.) <mboa-input type="input" feedback="hint" answer="5" hint="4" ng-model="userAnswerE"></mboa-input>
    </label>
  </div>
</div>

<a class="back-link" ui-sref="histoCase.pageType.page({pageType: 'pg', pageId: '1'})">Return to investigate the slide from the mysterious mediastinal mass</a>