<p>The paracortex is found in lymph nodes situated between the outer cortex and inner medulla.</p>
<p class="bold">Although immature thymocytes cannot leave the thymus, mature T-lymphocytes can enter the paracortex of lymph nodes through what unique blood vessels?</p>
<label><mboa-input type="input" feedback="graded" answer="21" ng-model="userAnswer"></mboa-input></label>

<figure>
  <img ng-src="{{SITE.baseUrl}}/assets/img/MM-Paracortex.png" class="img-responsive">
</figure>

<a class="back-link" ui-sref="histoCase.pageType.page({pageType: 'pg', pageId: '5'})">Return to determine where naïve lymphocytes travel to next</a>