<p>The thyroid gland is composed of numerous epithelial <span class="italic">thyroid follicles</span> each composed of a central colloid-filled lumen (containing large gelatinous proteins known as thyroglobulin, which are precursors to thyroid hormones) surrounded by <span class="italic">follicular cells</span>. <span class="italic">Parafollicular (C) cells</span> are located within and between follicles and secrete <span class="italic">calcitonin</span> in response to high blood calcium levels.</p>

<p class="bold">Follicular cells are what specific type of epithelium?</p>

<mboa-input type="input" feedback="hint" answer="0" hint="55" ng-model="userAnswer"></mboa-input>

<figure>
  <img ng-src="{{SITE.baseUrl}}/assets/img/MM-Thyroid.png" class="img-responsive" alt="thyroid">
</figure>

<a class="back-link" ui-sref="histoCase.pageType.page({pageType: 'pg', pageId: '1'})">Return to investigate the slide from the mysterious mediastinal mass</a>