<p>Correct! The primary lymphoid organs include the bone marrow and thymus, while secondary lymphoid organs include: spleen, lymph nodes, and MALT. Dense aggregations of MALT can be found in:</p>
<div class="row clearfix">
  <div class="list-item col-sm-4">
    <label>1.) </label>
    <mboa-input type="input" feedback="hint" answer="11" hint="9" ng-model="userAnswer1"></mboa-input>
  </div>
  <div class="list-item col-sm-4">
    <label>2.) </label>
    <mboa-input type="input" feedback="hint" answer="12" hint="10" ng-model="userAnswer2"></mboa-input>
  </div>
  <div class="list-item col-sm-4">
    <label>3.) </label>
    <mboa-input type="input" feedback="hint" answer="13" hint="11" ng-model="userAnswer3"></mboa-input>
  </div>
</div>

<p class="margin-top-lg"><span class="bold">Periarteriolar lymphoid sheath (PALS)</span> surrounds the central arteriole playing an important role in immunological surveillance.</p>
<figure>
  <img ng-src="{{SITE.baseUrl}}/assets/img/NERpg6.jpg" class="img-responsive" alt="collagen">
  <figcaption>
    <p><a target="_blank" href="//bcrc.bio.umass.edu/histology/?q=node/1418">https://bcrc.bio.umass.edu/histology/?q=node/1418</a></p>
    <p>CA = central arteriole; PALS = Periarterial lymphatic sheath</p>
    <p>*This is immunohistochemistry, staining actin with FITC (green) and Type II collagen with Rhodamine (Red) and DAPI (Blue) for cell nuclei</p>
  </figcaption>
</figure>

<p class="bold margin-top-lg">PALS are formed <span class="underline">mainly</span> from:</p>
<div class="row clearfix">
  <div class="list-item col-sm-4">
    <a ui-sref="histoCase.pageType.page({pageType: 'ans', pageId: 'b-lymph'})" class="btn btn-default">B-Lymphocytes</a>
  </div>
  <div class="list-item col-sm-4">
    <a ui-sref="histoCase.pageType.page({pageType: 'ans', pageId: 't-lymph'})" class="btn btn-default">T-Lymphocytes</a>
  </div>
  <div class="list-item col-sm-4">
    <a ui-sref="histoCase.pageType.page({pageType: 'ans', pageId: 'macrophages'})" class="btn btn-default">Macrophages</a>
  </div>
</div>