<p>While checking in with your first patient, you are informed that surgeons performed a splenectomy and that the procedure was successful without any complications.</p>

<p class="bold">What are some issues your patient should be aware of after spleen removal and how does the body compensate for the loss of splenic function?</p>
<mboa-input type="textarea" ng-model="ignore"></mboa-input>

<p>Congratulations! <a ui-sref="histoCase.pageType.page({pageType: 'pg', pageId: '1'})">Return to the beginning of the case and play again!</a> Try selecting other options to verify you understand <span class="italic">why</span> an answer was incorrect before moving on.</p>