<div class="container">

  <h1 class="title">The Suspicious Lesion</h1>

  <div>

    <p>Great job! You decide to avoid systemic treatments (such as chemotherapy and hormonal therapy) in favor of local treatments. Your patient undergoes a lumpectomy (removal of the small lesion and surrounding connective tissue but leaving the rest of the breast tissue intact) and radiation therapy to destroy any invasive ductal carcinoma left behind. Successful treatments lead to remission.</p>

    <p><a ui-sref="histoCase.pageType.page({pageType: 'pg', pageId: '1'})">Return to the beginning of the case and play again</a>! Try selecting other options to verify you understand <span class="italic">why</span> an answer was incorrect before moving on.</p>

  </div>

</div>