<p>Correct! Lymph nodes have a distinct stroma of an outer cortex and inner medulla.</p>

<figure>
  <img id="big" ng-src="{{SITE.baseUrl}}/assets/img/TSL-LN-Labeled.png" class="img-responsive" alt="">
</figure>

<div class="row margin-top clearfix">
  <div class="list-item col-sm-3">
    <label>A.) </label>
    <mboa-input type="input" feedback="hint" answer="9" hint="2" ng-model="userAnswerA"></mboa-input>
  </div>
  <div class="list-item col-sm-3">
    <label>B.) </label>
    <mboa-input type="input" feedback="hint" answer="8" hint="54" ng-model="userAnswerB"></mboa-input>
  </div>
  <div class="list-item col-sm-3">
    <label>C.) </label>
    <mboa-input type="input" feedback="hint" answer="4" hint="3" ng-model="userAnswerC"></mboa-input>
  </div>
  <div class="list-item col-sm-3">
    <label>D.) </label>
    <mboa-input type="input" feedback="hint" answer="7" hint="4" ng-model="userAnswerD"></mboa-input>
  </div>
</div>

<p class="bold margin-top-lg">Lymph nodes are considered   _______________   lymphoid organs.</p>
<div class="row margin-top-lg clearfix">
  <div class="list-item col-sm-4">
    <a ui-sref="histoCase.pageType.page({pageType: 'ans', pageId: 'primary'})" class="btn btn-default">Primary</a>
  </div>
  <div class="list-item col-sm-4">
    <a ui-sref="histoCase.pageType.page({pageType: 'ans', pageId: 'secondary'})" class="btn btn-default">Secondary</a>
  </div>
  <div class="list-item col-sm-4">
    <a ui-sref="histoCase.pageType.page({pageType: 'ans', pageId: 'tertiary'})" class="btn btn-default">Tertiary</a>
  </div>
</div>