<p>Yes! Primary lymphoid organs include the bone marrow and thymus, while secondary lymphoid organs include: spleen, lymph nodes, and MALT. Dense aggregations of MALT can be found in:</p>
<div class="row margin-top clearfix">
	<div class="list-item col-sm-4">
		<label>1.)</label>
		<mboa-input type="input" feedback="hint" answer="11" hint="9" ng-model="userAnswer"></mboa-input>
	</div>
	<div class="list-item col-sm-4">
		<label>2.) </label>
		<mboa-input type="input" feedback="hint" answer="12" hint="10" ng-model="userAnswer"></mboa-input>
	</div>
	<div class="list-item col-sm-4">
		<label>3.) </label>
		<mboa-input type="input" feedback="hint" answer="13" hint="11" ng-model="userAnswer"></mboa-input>
	</div>
</div>

<p class="margin-top">A closer view of this tissue with another stain reveals the following:</p>
<figure>
	<img ng-src="{{SITE.baseUrl}}/assets/img/collagen.png" class="img-responsive" alt="collagen">
</figure>

<p class="bold margin-top">The dark black lines represent:</p>
<div class="row margin-top clearfix">
	<div class="list-item col-sm-4">
		<a ui-sref="histoCase.pageType.page({pageType: 'ans', pageId: 'type1'})" class="btn btn-default">Type I Collagen</a>
	</div>
	<div class="list-item col-sm-4">
		<a ui-sref="histoCase.pageType.page({pageType: 'ans', pageId: 'type2'})" class="btn btn-default">Type II Collagen</a>
	</div>
	<div class="list-item col-sm-4">
		<a ui-sref="histoCase.pageType.page({pageType: 'ans', pageId: 'type3'})" class="btn btn-default">Type III Collagen</a>
	</div>
</div>