<p>The umbilicus (transumbilical plane) serves as a dividing line for superficial lymphatics. Superior to the umbilicus, lymph drains to axillary nodes. Inferior to the umbilicus lymph drains to the superficial inguinal nodes. The breast is divided into four quadrants. The lateral two quadrants drain into axillary lymph nodes and the medial two quadrants drain into mediastinal lymph nodes.</p>

<figure>
	<img class="img-responsive" ng-src="{{SITE.baseUrl}}/assets/img/SL-Boobs.png" alt="Breast Quadrants&Breast Cancer Incidence">
	<figcaption>Left Source: <a target="_blank" href="//o.quizlet.com/UoLsf2.4l4WPH4g5AxLmfQ_m.png">http://o.quizlet.com/UoLsf2.4l4WPH4g5AxLmfQ_m.png</a> <br> Right Source: <a target="_blank" href="//naija247medic.files.wordpress.com/2013/10/male-breast-cancer-lump-pictures-breast-cancer-topic-quadrants-of-breast-cancer-survey-also-tij4jefa-1.jpg">http://naija247medic.files.wordpress.com/2013/10/male-breast-cancer-lump-pictures-breast-cancer-topic-quadrants-of-breast-cancer-survey-also-tij4jefa-1.jpg</a></figcaption>
</figure>

<p class="bold margin-top-lg">What are the functions of lymph nodes?</p>
<mboa-input type="textarea" ng-model="ignore"></mboa-input>

<p class="bold margin-top-lg">The patient’s slide exhibits numerous structures seen at label A. What is this structure and how did it form?</p>
<mboa-input type="textarea" ng-model="ignore"></mboa-input>

<figure class="margin-top-lg">
	<img ng-src="{{SITE.baseUrl}}/assets/img/SL-Pg5.png" class="img-responsive" alt="Secondary lymphoid follicle">
	<figcaption>Source: <a target="_blank" href="//www.nhlcyberfamily.org/types/follicular.htm">http://www.nhlcyberfamily.org/types/follicular.htm</a></figcaption>
</figure>

<p class="bold margin-top-lg">What <span class="underline">region</span> of the lymph node is letter B located in?</p>
<div class="row margin-top clearfix">
	<div class="list-item col-sm-4">
		<a ui-sref="histoCase.pageType.page({pageType: 'ans', pageId: 'cortex'})" class="btn btn-default">Cortex</a>
	</div>
	<div class="list-item col-sm-4">
		<a ui-sref="histoCase.pageType.page({pageType: 'ans', pageId: 'paracortex'})" class="btn btn-default">Paracortex</a>
	</div>
	<div class="list-item col-sm-4">
		<a ui-sref="histoCase.pageType.page({pageType: 'ans', pageId: 'medulla'})" class="btn btn-default">Medulla</a>
	</div>
</div>