<p>Excellent! Lymph flows through each region of the node from the cortex, through the paracortex, then into the medulla. <span class="bold">Explain the difference between <span class="underline">medullary cord</span> and <span class="underline">medullary sinus</span>.</span></p>
<mboa-input type="textarea" ng-model="ignore"></mboa-input>

<p class="margin-top-lg">To avoid doing a complete axillary node dissection (CAD), you wish to pinpoint 
and remove only the particular lymph node(s) involved and decide to perform a 
<a href="//www.youtube.com/watch?v=StuUjtXj6u8" class="popup-video">sentinel lymph node (SLN) 
biopsy</a><sup>*</sup>.</p>
<p class="note">*SLN biopsy allows for thorough pathogenic evaluation. After a radioactive dye is injected, sentinel lymph nodes are detected with a hand-held gamma detection probe identifying areas of increased activity. Nodes with increased radioactivity are labeled as sentinel and removed. Frozen section analysis is preformed and if the SLN is negative for tumor, the node is embedded in paraffin and H&amp;E and immunohistochemistry stained with a cytokeratin antibody. Serial sections are taken throughout the node and examined for confirmation.</p>

<p class="margin-top-lg">Your patient is concerned because she heard that breast cancer patients develop swelling and pain in their arms.</p>

<p class="bold margin-top">You explain that removal of lymph nodes may result in decreased lymphatic drainage, a condition known as:</p>
<div class="row margin-top clearfix">
	<div class="list-item col-sm-4">
		<a ui-sref="histoCase.pageType.page({pageType: 'ans', pageId: 'lymphedema'})" class="btn btn-default">Lymphedema</a>
	</div>
	<div class="list-item col-sm-4">
		<a ui-sref="histoCase.pageType.page({pageType: 'ans', pageId: 'lymphoma'})" class="btn btn-default">Lymphoma</a>
	</div>
	<div class="list-item col-sm-4">
		<a ui-sref="histoCase.pageType.page({pageType: 'ans', pageId: 'lymphocytic-vasculitis'})" class="btn btn-default">Lymphocytic vasculitis</a>
	</div>
</div>