<p>The medulla of a lymph node is the innermost region. It contains <span class="bold">medullary</span></p>
<mboa-input type="input" feedback="hint" answer="37" hint="42" ng-model="userAnswer"></mboa-input>

<p class="margin-top">and <span class="bold">medullary</span></p>
<mboa-input type="input" feedback="hint" answer="38" hint="43" ng-model="userAnswer"></mboa-input>

<a class="back-link" ui-sref="histoCase.pageType.page({pageType: 'pg', pageId: '5'})">Return to meditate on the lymph node regions</a>