<p>The thymus parenchyma has a lobular arrangement of cortical caps surrounding medullary tissue that may resemble a lymphatic nodule with a germinal center in a lymph node. However, notice in the slide below the lack of lymphoid nodules in the cortex that are seen in the patient’s slide.</p>

<p class="bold">Can you label the following thymus slide?</p>
<figure>
	<img ng-src="{{SITE.baseUrl}}/assets/img/MM-Pg-2.png" class="img-responsive" alt="thymus">
</figure>

<div class="row clearfix">
	<div class="list-item col-sm-3">
		<label>A.) </label>
		<mboa-input type="input" feedback="hint" answer="7" hint="5" ng-model="userAnswer"></mboa-input>
	</div>
	<div class="list-item col-sm-3">
		<label>B.) </label>
		<mboa-input type="input" feedback="hint" answer="8" hint="6" ng-model="userAnswer"></mboa-input>
	</div>
	<div class="list-item col-sm-3">
		<label>C.) </label>
		<mboa-input type="input" feedback="hint" answer="9" hint="7" ng-model="userAnswer"></mboa-input>
	</div>
	<div class="list-item col-sm-3">
		<label>D.) </label>
		<mboa-input type="input" feedback="hint" answer="10" hint="8" ng-model="userAnswer"></mboa-input>
	</div>
</div>

<a class="back-link" ui-sref="histoCase.pageType.page({pageType: 'pg', pageId: '1'})">Go back and reassess the patient’s slide</a>