.hero-unit {
  &.home {
    background-image: url("../img/Hyaline-Cartilage.jpg");
  }

  &.a-mysterious-mass {
    background-image: url("../img/mm-pg1.png");
  }

  &.the-suspicious-lesion {
    background-image: url("../img/tsl-pg1.png");
  }

  &.a-night-in-the-er {
    background-image: url("../img/UL.png");
  }

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 40vh;
  width: 100%;
  position: fixed;
  z-index: 10;
  top: 51px;

  .overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(black, 0.4);
  }

  h1 {
    color: white;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  + .wrapper {
    margin-top: 40vh;
    background: white;
    position: relative;
    z-index: 15;
  }
}