.list-group-item {
  img {
    display: block;
    max-width: 100%;
  }

  .btn {
    margin: 20px;
  }
}

.list-item {
  img {
    display: block;
    max-width: 100%;
  }

  a {
    width: 100%;
    white-space: normal;
  }
}

.list-group-item-text {
  margin-left: 20px;
  padding: 5px 0;

  &.correct {
    color: #44cf6c;
  }
}

.progress-striped {
  margin-left: 20px;
}