@import "variables";
@import "utilities";
@import "typography";

@import "header";
@import "home";
@import "pre-test";
@import "cases";

@import "hero";
@import "icons";
@import "inputs";
@import "tables";

@import "media-queries";

/********** GLOBALS ***********/
body {
  padding: 51px 0 20px;
}

.navbar {
  margin-bottom: 0;
}

#big {
  max-width: 767px;
  margin: 20px auto;
}

.row {
  margin: 0;
}

.list {
  padding-left: 15px;

  li {
    margin: 20px 0;
  }
}

.left li {
  margin: 15px 0;
  text-align: left;
}

a.back-link {
  display: block;
  margin-top: 60px;
}

.margin-top {
  margin-top: 20px;
}

.margin-top-lg {
  margin-top: 60px;
}

.margin {
  margin: 20px 0;
}

.btn a {
  color: white;
}

.title {
  text-align: center;
}

.row .list-item {
  margin-bottom: 2rem;
}

.col-xs-15,
.col-sm-15,
.col-md-15,
.col-lg-15 {
  position: relative;
  width: 20%;
  float: left;
}