/********** GLOBALS ***********/

.navbar-brand {
	font-family: 'Indie Flower', cursive;
	font-size: 2em;
}

.signature {
	font-family: 'Permanent Marker', cursive;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.bold {
	font-weight: bold;
}

.italic {
	font-style: italic;
}

.underline {
	text-decoration: underline;
}

.purple {
	color: purple;
}

.red {
	color: red;
}

.dim {
	background-color: darkgray;
	border-color: gray;
	color: gray;
}

.note, p.note, span.note {
	font-size: 0.75em;
}

.row {
	margin: 0;
}

.list {
	padding-left: 15px;
}

/********** HEADER ***********/
#navbar {
	li {
		display: inline-block;
	}
}

/********** PRETEST ***********/

.list-group-item { 
	img {
		display: block;
		max-width: 100%;
	}
	.btn {
		margin: 20px;
	}
}

.list-group-item-text {
	margin-left: 20px;
	padding: 5px 0;
}

.graph-bar-outline {
	display: none;
	float: left;
	vertical-align: middle;
	margin-left: 36px;
	background-color: #f0f0f0;
	width: 200px;
	height: 10px;
}

.graph-bar-color {
	display: none;
	height: 10px;
	background-color: #ff3e41;
}

.graph-bar-percent {
	display: none;
	float: left;
	margin-left: 10px;
	line-height: 1rem;
	font-size: 12px;
	font-weight: normal;
	color: #777;
}

@media (max-width: 390px) {
	.graph-bar-percent {
		margin: 5px 0 0 36px;
	}
}

.btn a {
	color: white;
}

/********** CASES ***********/
.cases p {
	font-size: 1.3em;
}

.answers {
	text-align: center;

	div {
		margin-bottom: 10px; 
		min-width: 104px;

		&.list-item {
			display: inline-block;
		}
	}
}	

.img-responsive {
	margin: 20px auto;
}

@media (min-width: 767px) {
	.img-responsive {
		max-width: 767px;
	}
}

table {
	width: 100%;
	border: 1px solid black;
	* {
		border: 1px solid black;
		text-align: center;
	}
}

td:nth-child(even),
th:nth-child(even) {
	padding-left: 10%;
}

td:last-child,
th:last-child {
	text-align: center;
}