/********** GLOBALS ***********/
$tablet-max: 767px;
$tablet-min: 481px;
$mobile: 480px;

.navbar-brand {
	font-family: 'Architects Daughter', cursive;
	font-size: 2em;
}

.signature {
	font-size: .75em;
	span {
		font-family: 'Permanent Marker', cursive;
	}
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.bold {
	font-weight: bold;
}

.italic {
	font-style: italic;
}

.underline {
	text-decoration: underline;
}

.purple {
	color: purple;
}

.red {
	color: red;
}

.dim {
	background-color: darkgray;
	border-color: gray;
	color: gray;
}

.note, p.note, span.note {
	font-size: 0.75em;
}

.row {
	margin: 0;
}

.list {
	padding-left: 15px;
}

/********** HEADER ***********/
#navbar {
	li {
		display: inline-block;
	}
}

/********** ICONS ***********/
.icon.input {
	margin-left: 5px;
	font-size: 1.5em;
}
.ion-ios-help {
	color: orange;
}
.ion-alert-circled {
	color: blue;
}
.ion-ios-checkmark {
	display: none;
	color: #44cf6c;
}

/********** PRETEST ***********/

.list-group-item { 
	img {
		display: block;
		max-width: 100%;
	}
	.btn {
		margin: 20px;
	}
}

.list-item {
	img {
		display: block;
		max-width: 100%;
	}
}

.list-group-item-text {
	margin-left: 20px;
	padding: 5px 0;
}

.graph-bar-outline {
	display: none;
	float: left;
	vertical-align: middle;
	margin-left: 36px;
	background-color: #f0f0f0;
	width: 200px;
	height: 10px;
}

.graph-bar-color {
	display: none;
	height: 10px;
	background-color: #ff3e41;
}

.graph-bar-percent {
	display: none;
	float: left;
	margin-left: 10px;
	line-height: 1rem;
	font-size: 12px;
	font-weight: normal;
	color: #777;
}

@media (max-width: 390px) {
	.graph-bar-percent {
		margin: 5px 0 0 36px;
	}
}

.btn a {
	color: white;
}

/********** CASES ***********/
.title {
	text-align: center;
}

.cases p {
	font-size: 1.3em;
}

.img-responsive {
	margin: 20px auto;
}

.hint {
	display: none;
	border: 1px solid black;
	background-color: #efefef;
	border-radius: 4px;
	margin: 5px 0;
	padding: 10px;
	position: relative;

	p {
		font-weight: normal;
		margin: 0;
	}

	.icon {
		display: block;
		position: absolute;
		top: 0;
		right: 0;
		margin: 1px 2px 0 0;
		color: red;
	}

	img {
		display: block;
		max-width: 100%;
		margin: 0 auto;
	}
}

.second-row.first {
	clear: left;
}

.img-split {
	margin: 30px 0;
	.first.half {
		margin: 90px 0;
	}
}

@media (min-width: 767px) {
	.img-responsive {
		max-width: 767px;
	}
}

table {
	width: 100%;
	border: 1px solid black;
	* {
		border: 1px solid black;
		text-align: center;
	}
}

td:nth-child(even),
th:nth-child(even) {
	padding-left: 10%;
}

td:last-child,
th:last-child {
	text-align: center;
}

.check-input {
	width: 70%;

	&.correct {
	  -webkit-transition: all 0.30s ease-in-out;
	  -moz-transition: all 0.30s ease-in-out;
	  -ms-transition: all 0.30s ease-in-out;
	  -o-transition: all 0.30s ease-in-out;
	  outline: none;
	  padding: 3px 0px 3px 3px;
	  margin: 5px 1px 3px 0px;
	  border: 1px solid #44cf6c;
	  color: #44cf6c;
	 
		&:focus {
		  box-shadow: 0 0 5px #44cf6c;
		  padding: 3px 0px 3px 3px;
		  margin: 5px 1px 3px 0px;
		  border: 1px solid #44cf6c;
		}
	}
}

/********** GRID ***********/
.grid-container {
	text-align: center;

	.list-item {
		padding: 0 10px;
		float: left;
	}

	.first {
		padding-left: 0;
	}

	.last {
		padding-right: 0;
	}

	.whole {
		width: 100%;
		@media (min-width: $tablet-min) and (max-width: $tablet-max) {
			.tablet-whole {
				width: 100%;
			}
			.tablet-half {
				width: 50%;
			}
			.tablet-third {
				width: 33%;
			}
			.tablet-fourth {
				width: 25%;
			}
			.tablet-fifth {
				width: 20%;
			}
		}
		@media (max-width: $mobile) {
			.mobile-whole {
				width: 100%;
			}
			.mobile-half {
				width: 50%;
			}
			.mobile-third {
				width: 33%;
			}
			.mobile-fourth {
				width: 25%;
			}
			.mobile-fifth {
				width: 20%;
			}
		}
	}

	.half {
		width: 50%;
		@media (min-width: $tablet-min) and (max-width: $tablet-max) {
			.tablet-whole {
				width: 100%;
			}
			.tablet-half {
				width: 50%;
			}
			.tablet-third {
				width: 33%;
			}
			.tablet-fourth {
				width: 25%;
			}
			.tablet-fifth {
				width: 20%;
			}
		}
		@media (max-width: $mobile) {
			.mobile-whole {
				width: 100%;
			}
			.mobile-half {
				width: 50%;
			}
			.mobile-third {
				width: 33%;
			}
			.mobile-fourth {
				width: 25%;
			}
			.mobile-fifth {
				width: 20%;
			}
		}
	}

	.third {
		width: 33%;
		@media (min-width: $tablet-min) and (max-width: $tablet-max) {
			.tablet-whole {
				width: 100%;
			}
			.tablet-half {
				width: 50%;
			}
			.tablet-third {
				width: 33%;
			}
			.tablet-fourth {
				width: 25%;
			}
			.tablet-fifth {
				width: 20%;
			}
		}
		@media (max-width: $mobile) {
			.mobile-whole {
				width: 100%;
			}
			.mobile-half {
				width: 50%;
			}
			.mobile-third {
				width: 33%;
			}
			.mobile-fourth {
				width: 25%;
			}
			.mobile-fifth {
				width: 20%;
			}
		}
	}

	.fourth {
		width: 25%;
		@media (min-width: $tablet-min) and (max-width: $tablet-max) {
			.tablet-whole {
				width: 100%;
			}
			.tablet-half {
				width: 50%;
			}
			.tablet-third {
				width: 33%;
			}
			.tablet-fourth {
				width: 25%;
			}
			.tablet-fifth {
				width: 20%;
			}
		}
		@media (max-width: $mobile) {
			.mobile-whole {
				width: 100%;
			}
			.mobile-half {
				width: 50%;
			}
			.mobile-third {
				width: 33%;
			}
			.mobile-fourth {
				width: 25%;
			}
			.mobile-fifth {
				width: 20%;
			}
		}
	}

	.fifth {
		width: 20%;
		@media (min-width: $tablet-min) and (max-width: $tablet-max) {
			.tablet-whole {
				width: 100%;
			}
			.tablet-half {
				width: 50%;
			}
			.tablet-third {
				width: 33%;
			}
			.tablet-fourth {
				width: 25%;
			}
			.tablet-fifth {
				width: 20%;
			}
		}
		@media (max-width: $mobile) {
			.mobile-whole {
				width: 100%;
			}
			.mobile-half {
				width: 50%;
			}
			.mobile-third {
				width: 33%;
			}
			.mobile-fourth {
				width: 25%;
			}
			.mobile-fifth {
				width: 20%;
			}
		}
	}
}